.zx-broadcast {
    width: 100%;
    overflow: hidden;
    position: relative;
    .zx-imgList{
        position: absolute;
        left: 0;
        &:after{
            content: "";
            display: block;
            clear: both;
        }
        .zx-imgBox{
            float: left;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
  